<mat-toolbar color="primary">
     <span>
    <!--<img src="assets/img/angular_whiteTransparent.svg" class="angular-logo">-->
    ADUCRATION
  </span>

  <span style="margin-left: 80%">
      <!--<button mat-button>Menu Option 01</button>-->
      <!--<button mat-button>Menu Option 02</button>-->
    <!--<button mat-button routerLink="login">Login</button>-->
      <button mat-button (click)="onLogout()">Logout</button>
    <!--<button mat-button [matMenuTriggerFor]="menu">Logout</button>-->
    <!--<mat-menu #menu="matMenu">-->
      <!--<button mat-menu-item>Item 1</button>-->
      <!--<button mat-menu-item>Item 2</button>-->
    <!--</mat-menu>-->
  </span>
</mat-toolbar>
