<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" style="margin-left: 29px;">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="navigateToScreen()">
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button>
      {{node.name}}
    </button>

  </mat-tree-node>
</mat-tree>
