<div class="col-sm-12" style="margin-top: 22px;">
  <div class="row">
    <mat-form-field class="input-text-field-06">
      <input matInput placeholder="Amount" [(ngModel)]="amount" type="number" (ngModelChange)="reslutValue =null">
    </mat-form-field>
    <mat-form-field class="input-text-field-06">
      <mat-label>From</mat-label>
      <mat-select [(ngModel)]="from" (ngModelChange)="reslutValue =null">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}

        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="width: 47px; margin-top: 5px; margin-left: 14px;" (click)="swapValue()">
      <mat-icon>arrow_forward</mat-icon>
      <mat-icon>keyboard_backspace</mat-icon>
    </div>
    <mat-form-field class="input-text-field-06">
      <mat-label>To</mat-label>
      <mat-select [(ngModel)]="to" (ngModelChange)="reslutValue =null">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="input-text-field-06" style="margin-top: 10px;">
      <button mat-raised-button color="primary" (click)="convert()" [disabled]="!amount">Convert</button>
    </div>

    <h6 [hidden]="!this.reslutValue" style="margin-left: 10px;">{{this.amount}} {{this.from}} = {{this.reslutValue}}
      {{this.to}}</h6>
  </div>
</div>
<div class="chart-wrapper" *ngIf="this.reslutValue">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
