<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-card style="width: 17%; margin: auto;margin-top: 8%;">
    <mat-card-header >
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="User Name" type="text" formControlName="username"
               [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

      </mat-form-field>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Password" type="text" formControlName="password"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors  }">

      </mat-form-field>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Login</button>
    </div>
  </mat-card>
</form>
