<router-outlet>
  <div class="loader_wrap" [hidden]="!showLoader">
    <div class="barloaders">
      <img class="loader-gif" style="width:50%;" src="./assets/images/loader.gif" alt="loader"/>
    </div>
  </div>
</router-outlet>
