.loader_wrap
  background: rgba(1, 17, 30, 0.63)
  position: absolute
  height: 100%
  width: 100%
  z-index: 999

.barloaders
  position: absolute
  top: 50%
  left: 50%
  -webkit-transform: translateY(-50%) translateX(-50%)
  z-index: 9999 !important


