.col-lg-2.col-md-2.col-sm-2.col-xs-2.side-menu
  padding: 0 15px 0 0
  background: black
  color: white
  min-height: 550px !important

.col-lg-10.col-md-10.col-sm-10.col-xs-10.routed-menu
  padding: 0
  overflow-x: hidden
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24)
  margin-left: 10px
  margin-top: 15px
  min-height: 550px !important

