<div class="col-sm-12">
  <app-header></app-header>
</div>

<div class="col-sm-12" style="display: flex">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 side-menu">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 routed-menu">
    <router-outlet></router-outlet>
  </div>
</div>
